<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Books</title>
</head>
<body id="bookListPage">
<nav th:replace="../static/layouts/layout :: navbar"></nav>
<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center" style="min-height: 30rem;">
        <div class="col-10 mb-2" >
            <div class="alert alert-secondary" role="alert" th:if="${authors.isEmpty()}">
                <h5>Todavía no hay autores cargados.<a th:href="@{/authors/create}">Ingresar libro.</a></h5>
            </div>
            <div class="row row-cols-md-4">
                <div class="col-md-3" th:each="author : ${authors}">
                    <div class="card mb-3" style="width: 18rem;">
                        <img th:src="@{/images/userDefault.jpg}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tr>
                                    <td >
                                        <h6 class="card-title" th:text="${author.name}" style="display: inline-block;"></h6>
                                    </td>
                                    <td class="justify-content-end">
                                        <a th:href="@{/authors/update/__${author.idAuthor}__}" class="buttonBook"><i class="fas fa-edit fa-lg"></i></a>
                                        <a th:href="${author.discharged == true} ? @{/authors/delete/__${author.idAuthor}__}:@{/authors/discharge/__${author.idAuthor}__}" class="buttonBook"><i th:classappend="${author.discharged == true} ? 'fas fa-trash-alt fa-lg' : 'fas fa-upload fa-lg'" class=""></i></a>
                                    </td>
                                </tr>
                            </table>
                            <a href="#" class="buttonBook" th:onclick="'javascript:seeHidden(' + ${author.idAuthor} + ')'" style="text-decoration: none">Ver libros  <i class="fas fa-chevron-down fa-lg ml-2" th:id="__${author.idAuthor}__iconShow"></i></a>
                        </div>
                        <ul class="list-group list-group-flush hidden"  th:id="${author.idAuthor}">
                            <li class="list-group-item" th:if="${author.books.isEmpty()}" th:id="${author.idAuthor}">
                                <p>Aún no hay libros cargados</p>
                            </li>
                            <li class="list-group-item" th:each="book : ${author.books}">
                                <p th:text="${book.value}" style="display: inline;" class="me-5"> </p>
                                <a th:href="@{/books/__${book.key}__}" class="buttonBook justify-items-end"><i class="fas fa-eye fa-lg ml-2"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation" class="paging justify-self-center">
                        <ul class="pagination" th:if="${page.totalPages > 1}">

                            <li class="page-item" th:classappend="${page.currentPage == 1? 'disabled' : ''}">
                                <a class="page-link" th:href="@{'/authors/all?page='+${page.currentPage -1}}"
                                   tabindex="-1">Previous</a>
                            </li>
                            <th:block th:each="item : ${#numbers.sequence(1, page.totalPages)}">
                                <li class="page-item" th:classappend="${item == page.currentPage? 'active' : ''}">
                                    <a class="page-link" th:href="@{'/authors/all?page=' + ${item}}"
                                       th:text="${item}"></a>
                                </li>
                            </th:block>

                            <li class="page-item" th:classappend="${page.currentPage  == page.totalPages  ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{'/authors/all?page='+${page.currentPage +1}}">Next</a>
                            </li>
                        </ul>
                    </nav>

            </div>
    </div>
</div>
<footer th:replace="../static/layouts/layout :: footer"></footer>
<script>
    function seeHidden(id) {
        var button = id;
        var x = document.getElementById(""+button+"");
        var icon = document.getElementById(id+"iconShow");
        if (x.style.display === "none") {
          x.style.display = "table-row";
          icon.className = "fas fa-chevron-up fa-lg ml-2";

        } else {
          x.style.display = "none";
          icon.className = "fas fa-chevron-down fa-lg ml-2";
        }
    }
</script>
</body>
</html>