<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Books</title>
</head>
<body id="bookListPage">
<nav th:replace="../static/layouts/layout :: navbar"></nav>
<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center" style="min-height: 30rem;">
        <div class="col-8 mb-2 containerListAuthors" >
            <div class="alert alert-secondary" role="alert" th:if="${authors.isEmpty()}">
                <p>Todavía no hay autores cargados.<a th:href="@{/authors/create}">Ingresar libro.</a></p>
            </div>
            <table class="table" th:unless="${authors.isEmpty()}">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <div th:each="author : ${authors}">
                <tbody>
                <tr>
                    <th scope="row"  th:text="${author.idAuthor}"></th>
                    <td  th:text="${author.name}"></td>
                    <td>
                        <a th:href="@{/authors/update/__${author.idAuthor}__}" class="buttonBook"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a th:href="${author.discharged == true} ? @{/authors/delete/__${author.idAuthor}__}:@{/authors/discharge/__${author.idAuthor}__}" class="buttonBook"><i th:classappend="${author.discharged == true} ? 'fas fa-trash-alt fa-lg' : 'fas fa-upload fa-lg'" class=""></i></a>
                    </td>
                    <td>
                       <a href="#" class="buttonBook" th:onclick="'javascript:seeHidden(' + ${author.idAuthor} + ')'"><i class="fas fa-book fa-lg" id="iconShow"></i></a>
                    </td>
                </tr>
                <tr th:if="${author.books.isEmpty()}" th:id="${author.idAuthor}" class="hidden">
                    <td scope="row" colspan="5" >Aún no hay libros cargados</td>
                </tr>

                <tbody th:id="${author.idAuthor}" class="hidden" colspan="5">
                    <tr th:each="book : ${author.books}"  colspan="5">
                    <td colspan="5">
                        <p th:text="${book.value}" style="display: inline;" class="me-5"> </p>
                        <a th:href="@{/books/__${book.key}__}" class="buttonBook justify-items-end"><i class="fas fa-eye fa-lg"></i></a>
                    </td><br>
                    </tr>
                </tbody>

                </tbody>
                </div>
            </table>
        </div>
    </div>
</div>
<footer th:replace="../static/layouts/layout :: footer"></footer>
<script>
    function seeHidden(id) {
        var button = id;
        var x = document.getElementById(""+button+"");
        if (x.style.display === "none") {
          x.style.display = "table-row";
        } else {
          x.style.display = "none";
        }
    }
</script>
</body>
</html>