<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Books</title>
</head>
<body id="bookListPage">
<nav th:replace="../static/layouts/layout :: navbar"></nav>
<div class="container-fluid mt-5 mb-5">
    <div class="row" style="min-height: 30rem;">
        <div class="col-9 mt-5">
            <div class="alert alert-secondary" role="alert" th:if="${books.isEmpty()}">
                <h5>Todavía no hay libros cargados.<a th:href="@{/books/create}">Ingresar libro.</a></h5>
            </div>
        <div class="card mb-4 " th:each="book : ${books}">
            <div class="row g-0" >
                <div class="col-md-2 align-self-center text-center">
                    <img th:src="@{/images/book.png}" id="imageBookcard" class="rounded float-center cardIndex" alt="Image book" >
                </div>
                <div class="col-md-5 align-self-center">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${book.title}" id="bookTitle"></h5>
                        <h6 class="card-text" th:text="${book.author.name}" id="bookAuthor"></h6>
                        <p th:text="'ISBN '+${book.isbn}" id="bookIsbn"></p>
                    </div>
                </div>
                <div class="col-md-3 justify-content-end align-self-center">
                    <table class="table table-borderless" id="tableBooks">
                        <tr>
                            <th class="p-0">Editorial: </th>
                            <td class="p-0" th:text="${book.editorial.name}"></td>
                        </tr>
                        <tr>
                            <th class="p-0">Género: </th>
                            <td class="p-0" th:text="${book.genre.valueFormat}"></td>
                        </tr>
                        <tr>
                            <th class="p-0">Ejemplares: </th>
                            <td class="p-0" th:text="${book.avaibleCopy}+'/'+${book.copy}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-1 align-self-center justify-self-end">
                    <a th:href="@{/books/update/__${book.isbn}__}" class="buttonBook"><i class="fas fa-edit fa-lg m-4" style="display: block;"></i></a>
                    <a th:href="${book.discharged == true} ? @{/books/delete/__${book.isbn}__}:@{/books/discharge/__${book.isbn}__}" class="buttonBook"><i th:classappend="${book.discharged == true} ? 'fas fa-trash-alt fa-lg m-4' : 'fas fa-upload fa-lg m-4'" class="" style="display: block;"></i></a>
                </div>
                <div class="col-md-1 align-self-center justify-self-end">
                    <a th:href="@{/books/__${book.isbn}__}"><i class="fas fa-plus fa-lg m-4" id="moreIcon"></i></a>
                </div>
            </div>
        </div>
            <nav aria-label="Page navigation example" class="">
                <ul class="pagination  justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
       <div id="chart" class="col-3 mt-5 align-items-start">
            <canvas id="genreChart" class="mt-4"></canvas>
           <div class="row row-cols-2 mt-5 mb-5">
               <div class="col-auto">
                   <input th:name="search" type="text" class="form-control" th:id="search" placeholder="Search...">
               </div>
               <div class="col-auto">
                   <a type="button submit" class="btn buttonSearch" id="liveAlertBtn" onclick="searcher()">Search</a>
               </div>
           </div>
           <div class="row ml-4 mb-1">
               <a th:href="${books[0].discharged == false} ? @{/books/all} :@{/books/dismiss}" class="buttonBook" style="text-decoration: none">
                   <i th:classappend="${books[0].discharged == false} ? 'fas fa-check-square fa-lg' : 'far fa-square fa-lg'" class="mr-2"></i>
                   Ver libros dados de baja</a>
           </div>
           <div class="row ml-4 mb-5">
               <a th:href="${checked == true} ? @{/books/all} : @{/books/avaible}" class="buttonBook mt-4" style="text-decoration: none">
                   <i th:classappend="${checked == true} ? 'fas fa-check-square fa-lg' : 'far fa-square fa-lg'" class="mr-2"></i>
                   Ver solo disponibles para alquilar</a>
           </div>

       </div>
    </div>

</div>
<footer th:replace="../static/layouts/layout :: footer"></footer>

<script th:inline="javascript">
    var genreCanvas = document.getElementById("genreChart");
    var genres = []
    var colours =[]
    var coloursTranparent =[]
    var genresPercent = []
    /*<![CDATA[*/
    /*[# th:each="genre : ${T(com.egg.library.util.Genre).values()}"]*/
        genres.push(/*[[${genre.valueFormat}]]*/);
        colours.push(/*[[${genre.color}]]*/);
        coloursTranparent.push(/*[[${genre.color}]]*/+"59");
        genresPercent.push(/*[[${genre.percent}]]*/);
    /*[/]*/

    /*]]>*/

console.log(genresPercent)
    var genreData = {
        labels: genres ,
        datasets: [
            {
                data: genresPercent,
                backgroundColor:colours,
                hoverBorderColor: coloursTranparent,
                hoverBorderWidth: 6
            }]
    };

    var pieChart = new Chart(genreCanvas, {
    type: 'doughnut',
    data: genreData,
        options: {
            onClick: clickHandler,
        plugins: {
            responsive: true,
            legend: {
                display: true,
                textAlingn: 'center',
                position :'bottom',
                usePointStyle: true,
                pointStyle:'circle',
                labels: {
                    color: 'rgb(0, 0, 0)'
                },

            },
             animation: {
                animateScale: true,
                animateRotate: true
            },

        }
    }
    });

    function clickHandler(evt) {
        const points = pieChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);

        if (points.length) {
            const firstPoint = points[0];
            var label = pieChart.data.labels[firstPoint.index];
            var value = pieChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
            console.log(value)
            window.location = "/books?genero="+label
        }
    }

    function searcher(){
        var valueSearch = document.getElementById('search').value
        window.location = "/books?search="+valueSearch
    }


</script>
</body>
</html>