<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Create book</title>
</head>
<body id="bookListPage">
<nav th:replace="../static/layouts/layout :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        
        <div id="backgroudForm" class="col col-md-6 p-0">
            <img id="imageCustomer" th:src="@{/images/prestamo.jpg}" class="img-fluid" alt="...">
            <!--th:if="${editorial.picture == null}}"-->
        </div>    
        
        <div class="col col-md-6 justify-content-center align-self-center">
            <h5 class="text-center" th:text="${title}"></h5>

            <div th:if="${error != null} OR ${success != null}" th:classappend="${error != null} ? 'alert-danger' : 'alert-success'" class="alert alert-warning alert-dismissible fade show" role="alert">
                <i th:classappend="${error != null} ? 'fa-times-circle' : 'fa-check-circle'" class="fas "></i>
                <strong>Resultado de la solicitud</strong> [[${error != null} ? ${error} : ${success}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form method="POST" enctype="multipart/form-data" class="text-center mt-2"
                  novalidate th:action="@{/editorials/__${action}__}" th:object="${editorial}">
                <fieldset class="shadow p-3 mb-3 bg-white rounded" id="formEditorial">
                    <label class="mb-3">
                        <input type="number" th:if="${action == 'saveModifications'}" th:name="idEditorial" th:field="*{id}" readonly required>
                    </label><br>
                    <label class="mb-3">Nombre <input type="text" th:name="name" id="name" th:field="*{name}" required> </label><br>
                    <button type="submit" class="btn btn-primary mt-3 mb-3" th:text="${action == 'save'} ? 'Ingresar' : 'Guardar cambios'"></button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:replace="../static/layouts/layout :: footer"></footer>
<script>
</script>
</body>
</html>