<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Create book</title>
</head>
<body id="bookListPage">
<nav th:replace="../static/layouts/layout :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div id="backgroudForm" class="col col-md-6 p-0">
            <img id="imageCustomer" th:src="@{/images/customer.jpg}" class="img-fluid" alt="...">
            <!--th:if="${author.picture == null}}"-->
        </div>
        <div class="col col-md-6 justify-content-center align-self-center">

            <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-times-circle"></i>
                <strong>Resultado de la solicitud</strong> [[${error}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <h5 class="text-center" th:text="${title}"></h5>
            <form method="POST" enctype="multipart/form-data" class="text-center mt-2"
                  novalidate th:action="@{/customers/__${action}__}">

                <fieldset class="shadow p-3 mb-3 bg-white rounded" id="formCustomer">
                    <label class="mb-3">Id<input type="number" th:if="${id} != null" th:name="id" th:value="${id}" readonly></label>
                    <label class="mb-3">Documento <input type="number" name="document" th:value="${document}"  min="10000000" max="99999999"></label><br>
                    <label class="mb-3">Nombre <input type="text" name="name" id="name" th:value="${name}" required> </label><br>
                    <label class="mb-3">Apellido <input type="text" name="lastName" id="lastName" th:value="${lastName}"  required> </label><br>
                    <label class="mb-3">Mail <input type="email" name="mail" id="mail" th:value="${mail}" required> </label><br>
                    <label class="mb-3">Teléfono <input type="text" name="telephone" th:value="${telephone}" required> </label><br>
                    <label class="mb-3">Nombre de usuario <input type="text" name="username" th:value="${username}"  required> </label><br>
                    <label class="mb-3">Contraseña <input type="password" name="password" th:value="${password}" required> </label><br>
                    <h6>Roles</h6>
                    <div th:each="rol : ${roles}" class="form-check">
                        <input th:id="${rol.role}" th:name="rolChecked" th:value="${rol.role}"
                                th:checked="${rolesUser} == null ? ${rol.role} == 'USER' :  ${rol.role} == 'USER' "  class="form-check-input" type="checkbox"  id="flexCheckDefault">
                        <label th:for="${rol.role}" th:text="${rol.role}" class="form-check-label" for="flexCheckDefault">
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3 mb-3" th:text="${action == 'save'} ? 'Ingresar' : 'Guardar cambios'"></button>
                </fieldset>
            </form>

        </div>
    </div>
</div>
<footer th:replace="../static/layouts/layout :: footer"></footer>
<script>
    var myCarousel = document.querySelector('#slideAuthors')
    var carousel = new bootstrap.Carousel(myCarousel, {
      interval: 3000,
    })
</script>
</body>
</html>