<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Books</title>
</head>
<body id="bookListPage">
<nav th:replace="../static/layouts/layout :: navbar"></nav>
<div class="container-fluid mt-5 mb-5">
    <div class="row d-flex  justify-content-center m-5" style="min-height: 30rem;">

        <div th:if="${success != null}"  class="alert alert-success alert-dismissible fade show mt-2 mb-2" role="alert">
            <i class="fas fa-check-circle"></i>
            <strong>Resultado de la solicitud</strong> [[${success}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="col-8 m-2 containerListAuthors">
            <div class="alert alert-secondary" role="alert" th:if="${loans.isEmpty()}">
                <h5>Todavía no hay préstamos cargados.<a th:href="@{/loans/create}">Ingresar préstamo.</a></h5>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto mt-4 mb-4">
                    <table class="table table-responsive justify-self-center" th:unless="${loans.isEmpty()}">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Alta</th>
                            <th scope="col">Vencimiento</th>
                            <th scope="col">Libro</th>
                            <th></th>
                            <th scope="col">Cliente</th>
                            <th></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        </tbody>
                            <tr th:each="loan : ${loans}">
                                <th scope="row"  th:text="${loan.id}"></th>
                                <td  th:text="${#temporals.format(loan.loanDate,'dd/MM/yyyy')}"></td>
                                <td  th:text="${#temporals.format(loan.returnDate,'dd/MM/yyyy')}"></td>
                                <td  th:text="${loan.book.title}"></td>
                                <td>
                                    <a th:href="@{/books/__${loan.book.isbn}__}" class="buttonBook"><i class="fas fa-eye fa-lg"></i></a>
                                </td>
                                <td  th:text="${loan.customer.lastName}+', '+${loan.customer.name}"></td>
                                <td>
                                    <a th:href="@{/customers/__${loan.customer.id}__}" class="buttonBook"><i class="fas fa-eye fa-lg"></i></a>
                                </td>
                                <td>
                                    <a th:href="@{/loans/update/__${loan.id}__}" class="buttonBook"><i class="fas fa-edit fa-lg"></i></a>
                                </td>
                                <td>
                                    <a th:href="${loan.discharged == true} ? @{/loans/delete/__${loan.id}__}:@{/loans/discharge/__${loan.id}__}" class="buttonBook"><i th:classappend="${loan.discharged == true} ? 'fas fa-trash-alt fa-lg' : 'fas fa-upload fa-lg'" class=""></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:replace="../static/layouts/layout :: footer"></footer>
</body>
</html>