<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Create book</title>
</head>
<body >

<div class="container-fluid">
    <div class="row">
        <div id="backgroudForm" class="col col-md-6 p-0">
            <img id="imageCustomer" th:src="@{/images/customer.jpg}" class="img-fluid" alt="...">
        </div>
        <div class="col col-md-6">
            <div class="row align-items-start justify-content-start">
                <a class="navbar-brand" href="#"><img th:src="@{/images/logo.svg}" width="20rem" alt="brand"  class="d-inline-block align-text-top">
                    Booking</a>
            </div>
            <div class="row align-items-center justify-content-center">
            <h5 class="text-center" >Login</h5>
            <form method="POST"  class="text-center align-items-center mt-2"
                  novalidate th:action="@{/logincheck}">

                <fieldset class="p-3 mb-3 " >
                    <label>Mail o username </label><br><input class="mb-3  inputLogin" type="text"  name="username"><br>
                    <label class="mb-3">Password</label><br><input class="mb-3 inputLogin" type="password" name="password"><br>
                    <button type="submit" class="btn btn-primary mb-3 rounded-pill buttonLogin">Ingresar</button>
                </fieldset>
                <a th:href="@{/signup}">¿Aún no tiene cuenta? Registrarse</a>
            </form>

            <div th:if="${error != null} OR ${logout != null}" th:classappend="${error != null} ? 'alert-danger' : 'alert-warning'" class="alert alert-warning alert-dismissible fade show" role="alert">
                <i th:classappend="${error != null} ? 'fa-times-circle' : 'fa-check-circle'" class="fas "></i>
                <strong>Resultado de la solicitud</strong> [[${error != null} ? ${error} : ${logout}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div th:if="${success != null}" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle"></i>
                <strong>Resultado de la solicitud</strong> [[${success}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>