<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="../static/layouts/layout :: head">
    <title>Create book</title>
</head>
<body id="bookListPage">
<nav th:replace="../static/layouts/layout :: navbar"></nav>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col col-md-4 m-3 justify-content-center text-center">
            <img th:if="${customer.picture == null}"  th:src="@{/images/userDefault.jpg}"  class="rounded-circle" style="width: 10rem;" ><br>
            <div class="row justify-content-center">
            <div class="round-image-container-cutomerDetail p-0 m-0 text-center" th:unless="${customer.picture == null}" >
                <img class="rounded"  th:src="@{__${customer.picture.path}__}" style="width: 10rem;"><br>
            </div>
            </div>
            <a th:if="${actionPicture != '/profile/save-picture'}" class="btn btn-primary mt-3 mb-3" th:href="@{/profile/update/__*{customer.user.username}__}">Modificar</a>
            <form th:unless="${actionPicture != '/profile/save-picture'}" method="POST" enctype="multipart/form-data" class="text-center mt-2"
                  th:action="@{__${actionPicture}__}">
                <input type="hidden" th:name="id" th:value="${customer.id}">
                <div class="mb-3" >
                    <label for="picture" class="form-label">Foto de perfil</label>
                    <input class="form-control" type="file" id="picture" th:name="picture" th:value="${picture}">
                </div>
                <button type="submit" class="btn btn-primary mt-3 mb-3" >Guardar cambios</button>
            </form>

        </div>
        <div class="col col-md-6 justify-content-center align-self-center">
            <h5 class="text-center" th:text="${title}"></h5>

            <div th:if="${error != null} OR ${success != null}" th:classappend="${error != null} ? 'alert-danger' : 'alert-success'" class="alert alert-warning alert-dismissible fade show" role="alert">
                <i th:classappend="${error != null} ? 'fa-times-circle' : 'fa-check-circle'" class="fas "></i>
                <strong>Resultado de la solicitud</strong> [[${error != null} ? ${error} : ${success}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form method="POST" enctype="multipart/form-data" class="text-center mt-2"
                   th:action="@{__${action}__}" th:object="${customer}">
                <fieldset class="shadow p-3 mb-3 bg-white rounded" id="formCustomer">
                    <div class="row g-3">
                        <input type="hidden" th:name="name" id="id" th:field="*{id}">
                        <div class="col-md-6">
                            <label class="mb-3" th:classappend="${action == '#'} ? 'labelSee' : ''">Nombre<br> <input th:classappend="${action == '#'} ? 'unborder text-center' : ''"  th:readonly="${action == '#'}" type="text" th:name="name" id="name" th:field="*{name}" required> </label><br>
                        </div>
                        <div class="col-md-6 text-center">
                            <label class="mb-3" th:classappend="${action == '#'} ? 'labelSee' : ''">Apellido<br> <input th:classappend="${action == '#'} ? 'unborder text-center' : ''"  th:readonly="${action == '#'}" type="text" th:name="lastName" id="lastName" th:field="*{lastName}" required> </label><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <label class="mb-3" th:classappend="${action == '#'} ? 'labelSee' : ''">Documento <br><input th:classappend="${action == '#'} ? 'unborder text-center' : ''" th:readonly="${action == '#'}" type="number" th:name="document" th:field="*{document}" min="10000000" max="99999999"></label>
                        </div>
                        <div class="col text-center">
                            <label class="mb-3" th:classappend="${action == '#'} ? 'labelSee' : ''">Mail <br><input th:classappend="${action == '#'} ? 'unborder text-center' : ''" type="email" th:name="mail" id="mail" th:field="*{mail}" th:readonly="${action == '#'}"  required> </label><br>
                        </div>
                        <div class="col text-center">
                            <label class="mb-3" th:classappend="${action == '#'} ? 'labelSee' : ''">Teléfono <input th:classappend="${action == '#'} ? 'unborder text-center' : ''" th:readonly="${action == '#'}" type="text" th:name="telephone" id="telephone" th:field="*{telephone}" required> </label><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col input-group flex-nowrap">
                            <span th:classappend="${action == '#'} ? 'unborder' : ''" class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" th:classappend="${action == '#'} ? 'unborder text-center' : ''" th:name="username" th:field="*{user.username}" th:readonly="${action == '#'}" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="col">
                            <input type="password" th:name="password" pattern="/^[a-zA-Z0-9!@#\$%\^\&*_=+-]{8,12}$/g" class="form-control" placeholder="Password" aria-label="Last name">
                        </div>
                    </div>

                    <a th:if="${action != '/profile/save-profile'}" class="btn btn-primary mt-3 mb-3" th:href="@{/profile/update/__*{user.username}__}">Modificar</a>
                    <button th:unless="${action != '/profile/save-profile'}" type="submit" class="btn btn-primary mt-3 mb-3" >Guardar cambios</button>
                </fieldset>
            </form>
            <div class="modal-dialog modal-dialog-centered">

            </div>
        </div>
    </div>

    <div  class="row justify-content-center mb-5" style="min-height: 30rem;">

        <div class="col col-7  m-3 p-5 text-center" id="panelLoadsDetail">
            <h6>Préstamos</h6><br>
            <div class="alert alert-secondary" role="alert" th:if="${loans.isEmpty()}">
                <h5>Todavía no hay préstamos cargados.<a th:href="@{/loans/create}">Ingresar préstamo.</a></h5>
            </div>
            <div class="row justify-content-center align-content-center">
                <div class="col-auto mt-4 mb-4">
                    <table class="table table-responsive justify-self-center" th:unless="${loans.isEmpty()}">
                        <thead class="table-secondary">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Alta</th>
                            <th scope="col">Vencimiento</th>
                            <th scope="col">Libro</th>
                            <th></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        </tbody>
                        <tr th:each="loan : ${loans}">
                            <th scope="row"  th:text="${loan.id}"></th>
                            <td  th:text="${#temporals.format(loan.loanDate,'dd/MM/yyyy')}"></td>
                            <td  th:text="${#temporals.format(loan.returnDate,'dd/MM/yyyy')}"></td>
                            <td  th:text="${loan.book.title}"></td>
                            <td>
                                <a th:href="@{/books/__${loan.book.isbn}__}" class="buttonBook"><i class="fas fa-eye fa-lg"></i></a>
                            </td>
                            <td>
                                <a th:href="@{/loans/update/__${loan.id}__}" class="buttonBook"><i class="fas fa-edit fa-lg"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col col-4 m-3 p-5 text-center" id="panelLoadsDetail">
            <h6>Libros favoritos</h6><br>
            <div class="alert alert-secondary" role="alert" th:if="${customer.favoriteBooks} == null OR ${customer.favoriteBooks.isEmpty()}">
                <h5>Todavía no hay libros marcados como favoritos</h5>
            </div>
            <div class="row justify-content-center align-content-center">
                <div class="col-auto mt-4 mb-4">
                    <table class="table table-responsive justify-self-center" th:unless="${customer.favoriteBooks} == null OR ${customer.favoriteBooks.isEmpty()}">
                        <thead class="table-secondary">
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Autor</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        </tbody>
                        <tr th:each="book : ${customer.favoriteBooks}">
                            <td  th:text="${book.title}"></td>
                            <td  th:text="${book.author.name}"></td>
                            <td>
                                <a th:href="@{/books/__${book.isbn}__}" class="buttonBook"><i class="far fa-eye fa-lg"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

<footer th:replace="../static/layouts/layout :: footer"></footer>
<script>

    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>
</body>
</html>